<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <section class="container my-5">
        <h1 class="text-center">Black and White</h1>
        <form action="/procesa_imagen" id="formulario_ingresa_imagen">
            <div class="input-group my-4">
                <label class="input-group-text bg-success text-light" id="url" for="input_url"
                    title="Ingresa la url de una imagen en el input">URL</label>
                <input name="imagen" type="text" class="form-control" placeholder="Ingresa la url de una imagen"
                    aria-label="Ingresa la url de una imagen" aria-describedby="url" id="input_url" />
            </div>
            <button id="btn_enviar_url" type="submit" class="btn btn-primary">Subir
                Imagen al Servidor</button>
            <button type="button" id="btn_limpiar" class="btn btn-danger mt-3"
                title="Limpiar el campo de URL">Limpiar</button>
        </form>
        <div class="loader" id="loader"></div>
    </section>


</body>

</html>