<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <section class="container my-5">
        <h1 class="titulo text-center">Black and White</h1>
        <form id="formulario" class="container">

            <div class="mb-3">
                <input type="text" class="form-control" id="ingreseUrl" placeholder="Ingrese URL">
            </div>
            <button type="submit" class="btn btn-primary">Subir url</button>
        </form>
    </section>

    <!-- Modal Muestra imagen-->
    <div class="modal fade" id="mostrarImagen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="infoImagen">
                    {{!-- <div class="row"></div> --}}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

<script src="/js/main.js"></script>

</body>

</html>