<h1>Black and White</h1>

<form action="/cargar" class="d-flex justify-content-center" >
    <input type="text" name="imagen" class="form-control" placeholder="Ingrese la URL de la imagen">
    <button type="submit" class="btn btn-primary"> Subir la imagen</button>
</form>